<ion-header>
  <ion-navbar>
    <ion-title>{{ collection.$key | capitalize | spaceCapitalLetters }}</ion-title>
    <ion-buttons *ngIf="user?.type == 'admin' ||
                        studentKey" end>
      <button ion-button icon-only 
        (click)="onMoreClick()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- READING -->
  <ion-grid *ngIf="type == 'reading'">
    <ion-card  *ngFor="let reading of readings">
      <ion-row>
        <ion-col col-12>
          <ion-item class="reading-item" (click)="onReadingClick(reading)">
            <img [src]="reading.imageURL">
            <h5>{{ reading.shortText }}</h5>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>    
  </ion-grid>

  <!-- VOCABULARY -->
  <ion-list *ngIf="type == 'vocabulary'">
    <ion-item-sliding *ngFor="let word of words">
      <ion-item (click)="onWordClick(word)">
        <ion-thumbnail item-start>
          <img [src]="word.imageURL">
        </ion-thumbnail>
        <h2>{{ word.$key | capitalize }}</h2>
        <p>
          <i *ngFor="let translation of word.translations; let i = index">
            {{ translation }}<i *ngIf="word.translations.length - 1 != i">,</i>
          </i>
        </p>   
      </ion-item>
      <ion-item-options *ngIf="!studentKey" side="right">
        <button ion-button color="light"
          (click)="onRemoveWordClick(word)">
          <ion-icon name="md-trash"></ion-icon>
          Remove
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- VIDEO -->
  <ion-grid *ngIf="type == 'video'">
    <ion-card *ngFor="let video of videos | videosByCollection: collection.$key">
      <ion-row>
        <ion-col col-12>
          <ion-item class="video-item">
            <img [src]="video.thumbnails.high.url"
              (click)="onPlayVideoClick(video.id)">
            <ion-icon name="play" class="play-button"></ion-icon>
            <h5 (click)="onTitleVideoClick(video)">{{ video.title }}</h5>
            <p>{{ video.publishedAt | parseDate | date: 'medium'}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>