page-collection {
    ion-grid {
        padding: 0px !important;
    }
    .col-reading {
        padding: 0px !important;
        padding-bottom: 15px !important;     
    }
    .col-video {
        padding: 0px !important;
        padding-bottom: 15px !important;     
    }
    .col-grammar {
        text-align: center;
    }
    .col-grammar p {
        color: #666 !important;
    }
    .col-grammar img {
        width: 40%;
        margin: 0 auto;
    }
    .reading-item {
        padding-top: 5px;
        padding-left: 8px;
    }
    .reading-item ion-label {
        margin: 0;
        padding-left: 0;
        white-space: normal;
    }
    .reading-item .item-inner {
        border-bottom: none !important;
    }
    .video-item {
        padding-top: 5px;
        padding-left: 8px;
    }
    .video-item ion-label {
        margin: 0;
        padding-left: 0;
        white-space: normal;
    }
    .video-item p {
        font-size: 1.2rem !important;
    }
    .play-button {
        position: absolute;
        top: 35%;
        left: 50%;
        color: white;
        font-size: 3em;
    }
}
