page-collection {
    ion-grid {
        padding: 0px !important;
    }
    ion-item-options .checkbox-icon {
        position: absolute;
        top: 30%;
    }
    ion-footer ion-toolbar button {
        width: 100%;
    }
    ion-footer ion-toolbar ion-select {
        z-index: 1000;
        position: absolute;
        max-width: 100%;
        width: 100%;
    }
    ion-select .select-text {
        visibility: hidden;
    }
    ion-select .select-icon {
        visibility: hidden;
    }
    .col-reading {
        padding: 0px !important;
        padding-bottom: 15px !important;     
    }
    .col-video {
        padding: 0px !important;
        padding-bottom: 15px !important;     
    }
    .col-grammar {
        text-align: center;
    }
    .col-grammar p {
        color: #666 !important;
    }
    .col-grammar img {
        width: 40%;
        margin: 0 auto;
    }
    .reading-item {
        padding-top: 5px;
        padding-left: 8px;
    }
    .reading-item ion-label {
        margin: 0;
        padding-left: 0;
        white-space: normal;
    }
    .reading-item .item-inner {
        border-bottom: none !important;
    }
    .video-item {
        padding-top: 5px;
        padding-left: 8px;
    }
    .video-item ion-label {
        margin: 0;
        padding-left: 0;
        white-space: normal;
    }
    .video-item p {
        font-size: 1.2rem !important;
    }
    .play-button {
        position: absolute;
        top: 35%;
        left: 50%;
        color: white;
        font-size: 3em;
    }
    .edit-icon {
        font-size: 1.4rem;
    }
    .edit-label {
        position: absolute;
        padding-left: 5px;
        color: darkgray;
    }
    .instance-checkmark {
        position: absolute;
        background-color: #32db64;
        padding: 0 5px;
        z-index: 1;
        margin-top: 10px;
        margin-left: 15px;
        font-size: 1em;
    }
    .coefficient {
        color: white;
    }

    // CIRCLE
    .badge-circle {
        background-color: white;
        margin-top: -10px !important;
    }
    .main {
        position: relative;
        width: 20px;
        height: 20px;
      }
      .quarter {
        position: absolute;
        width: 50%;
        height: 50%;
        transition: background-color 0.2s ease-in-out;
      }
      .quarter1 {
        top: 0;
        left: 0;
        // background-color: #488aff;
        border-radius: 100% 0 0 0;
      }
      .quarter2 {
        top: 0;
        right: 0;
        background-color: #488aff;
        border-radius: 0 100% 0 0;
      }
      .quarter3 {
        bottom: 0;
        left: 0;
        background-color: #32db64;
        border-radius: 0 0 0 100%;
      }
      .quarter4 {
        bottom: 0;
        right: 0;
        background-color: #32db64;
        border-radius: 0 0 100% 0;
      }
      .cutout {
        width: 50%;
        height: 50%;
        background-color: white;
        position: absolute;
        top: 25%;
        left: 25%;
        border-radius: 50%;
        pointer-events: none;
      }
}
