<ion-header>
  <ion-navbar>
    <ion-title>{{ collection.$key | capitalize | spaceCapitalLetters }}</ion-title>
    <ion-buttons end>
      <button *ngIf="segment == 'content' &&
                     !isEditChecked" ion-button icon-only class="edit-icon"
        (click)="onEditCheckboxClick()">
        <ion-icon name="md-create"></ion-icon>
      </button>
      <button *ngIf="segment == 'content' &&
                     isEditChecked" ion-button icon-only class="edit-icon"
        (click)="onCloseCheckboxClick()">
        <ion-icon name="md-close"></ion-icon>
      </button>
      <button *ngIf="user?.type == 'admin'" ion-button icon-only 
        (click)="onMoreClick()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-segment *ngIf="type == 'grammar' ||
                      type == 'vocabulary'" [(ngModel)]="segment" style="padding-bottom: 10px">
    <ion-segment-button value="trainings">
      Trainings
    </ion-segment-button>
    <ion-segment-button value="content">
      Content
    </ion-segment-button>
  </ion-segment>
  <ion-checkbox #checkbox *ngIf="isEditChecked" (click)="onEditCheckAllClick(checkbox.checked)"></ion-checkbox>
  <span *ngIf="isEditChecked" class="edit-label">{{ checkedKeys.length }}</span>
  <!-- READING -->
  <ion-grid *ngIf="type == 'reading'">
    <ion-card  *ngFor="let reading of readings">
      <ion-row>
        <ion-col col-12 class="col-reading">
          <ion-item class="reading-item" (click)="onReadingClick(reading)">
            <img [src]="reading.imageURL">
            <h5>{{ reading.shortText }}</h5>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>    
  </ion-grid>

  <!-- VOCABULARY -->
  <ion-list *ngIf="type == 'vocabulary' && segment == 'content'">
    <ion-item-sliding #slidings *ngFor="let word of words | async | wordsByCollection: undefined: collection.$key: 'content'"
                      [instanceValue]="word">
      <ion-item (click)="onWordClick(word)">
        <ion-thumbnail item-start>
          <img [src]="word.imageURL">
        </ion-thumbnail>
        <h2>{{ word.$key | capitalize }}</h2>
        <p>
          <i *ngFor="let translation of word.translations; let i = index">
            {{ translation }}<i *ngIf="word.translations.length - 1 != i">,</i>
          </i>
        </p>
        <ion-badge item-end class="badge-circle">
          <div class="main">
            <div class="quarter quarter1"
                [style.background-color]="onGetWordQuarterColor(word, 1)"></div>
            <div class="quarter quarter2"
                [style.background-color]="onGetWordQuarterColor(word, 2)"></div>
            <div class="quarter quarter3"
                [style.background-color]="onGetWordQuarterColor(word, 3)"></div>
            <div class="quarter quarter4"
                [style.background-color]="onGetWordQuarterColor(word, 4)"></div>
            <div class="cutout"></div>
          </div>
        </ion-badge>
      </ion-item>
      <ion-item-options *ngIf="!studentKey" side="right">
        <button ion-button color="light"
          (click)="onRemoveWordClick(word)">
          <ion-icon name="md-trash"></ion-icon>
          Remove
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <ion-checkbox #wordCheckbox [(ngModel)]="word.checked"
                      (click)="onInstanceCheckClick(word, wordCheckbox.checked)"></ion-checkbox>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- VIDEO -->
  <ion-grid *ngIf="type == 'video'">
    <ion-card *ngFor="let video of videos | videosByCollection: undefined: collection.$key">
      <ion-row>
        <ion-col col-12 class="col-video">
          <ion-item class="video-item">
            <img [src]="video.thumbnails.high.url"
              (click)="onPlayVideoClick(video.id)">
            <ion-icon name="play" class="play-button"></ion-icon>
            <h5 (click)="onTitleVideoClick(video)">{{ video.title }}</h5>
            <p>{{ video.publishedAt | parseDate | date: 'medium'}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <!-- GRAMMAR -->
  <ion-list *ngIf="type == 'grammar' && segment == 'content'">
    <ion-item-sliding #slidings *ngFor="let grammar of grammars | async | grammarsByCollection: undefined: collection.$key: 'content'"
                      [instanceValue]="grammar">
      <ion-item>
        <h2 *ngIf="grammar.translation">{{ grammar.translation | capitalize }}</h2>
        <p *ngIf="grammar.sentence">&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;</p>
        <ion-badge item-end class="badge-circle">
          <div class="main">
            <div class="quarter quarter1"
                [style.background-color]="onGetGrammarQuarterColor(grammar, 1)"></div>
            <div class="quarter quarter2"
                [style.background-color]="onGetGrammarQuarterColor(grammar, 2)"></div>
            <div class="quarter quarter3"
                [style.background-color]="onGetGrammarQuarterColor(grammar, 3)"></div>
            <div class="quarter quarter4"
                [style.background-color]="onGetGrammarQuarterColor(grammar, 4)"></div>
            <div class="cutout"></div>
          </div>
        </ion-badge>
      </ion-item>
      <ion-item-options *ngIf="user?.type == 'admin'" side="right">
        <button ion-button color="light"
          (click)="onRemoveGrammarClick(collection.$key, grammar, studentKey)">
        <ion-icon name="md-trash"></ion-icon>
          Remove
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <ion-checkbox #grammarCheckbox [(ngModel)]="grammar.checked"
                      (click)="onInstanceCheckClick(grammar, grammarCheckbox.checked)"></ion-checkbox>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-card *ngIf="(type == 'grammar' ||
                    type == 'vocabulary') && segment == 'trainings'">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let training of trainings" class="col-grammar"
          col-6 col-lg-4 col-xl-3 
          (click)="onTrainingClick(training)">
            <img [src]="training.imageURL">
            <h2>{{ training.name | capitalize }}</h2>
            <p>{{ training.left }} sentences more</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
<ion-footer *ngIf="segment == 'content' && (isEditChecked || checkedKeys.length > 0)">
  <ion-toolbar color="primary">
      <ion-buttons>
        <ion-select *ngIf="checkedKeys?.length > 0" [(ngModel)]="selectedTrainingKeys" multiple
                    (ionChange)="onSelectOkClick()">
          <ion-option *ngFor="let training of trainings" 
            [value]="training.type">{{ training.name | capitalize }}</ion-option>
        </ion-select>
        <button [disabled]="checkedKeys?.length == 0" ion-button>Send to the Training...</button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>