page-edit-video {
    ion-footer button {
        width: 45%;
    }
    .play-button {
        position: absolute;
        top: 20%;
        left: 50%;
        color: white;
        font-size: 3em;
    }
    .text {
        padding: 5px;
    }
    reading-text [contenteditable=true] p {
        margin: 0 10px;
        text-indent: 10%;
    }
}
