page-reading-training {
    .question-field {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }
    ion-footer ion-toolbar {
        text-align: center;
    }
}
