<ion-header>
  <ion-navbar>
    <ion-title>{{ reading.$key | capitalize | spaceCapitalLetters }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <img [src]="reading.imageURL">
  <p *ngFor="let item of items" class="paragraph">
    <span #spanWord *ngFor="let word of item | splitByWord" 
      [innerHTML]="word | addSpaceCharacter"
      (tap)="onTapWord(spanWord)"></span> 
  </p>
</ion-content>
  
<ion-footer *ngIf="translatedWords.length > 0" no-border>
  <ion-toolbar>
    <ion-buttons start *ngFor="let translatedWord of translatedWords"> 
      <button ion-button>{{ translatedWord[0] }}</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>