page-reading {
    ion-toolbar {
        background-color: color($colors, light);
        overflow-x: auto !important;
    }
    blockquote {
        position: relative;
        margin: 10px 0;
        padding: 10px 20px;
        text-align: center;
        font-size: 17px;
        margin-left: -10%;
    }
    blockquote:before, blockquote:after {
        position: absolute;
        width: 30px;
        height: 30px;
        font-size: 60px;
        line-height: 1;
        color: gray;
    }
    blockquote:before {
        top: 0;
        left: 0;
        content: "\201C";
    }
    blockquote:after {
        top: 0;
        right: 0;
        content: "\201D";
        margin-right: 8%;
    }
    .paragraph {
        margin: 0 10px;
        text-indent: 10%;
    }
    .paragraph img {
        margin-left: -10%;
        pointer-events: none;
    }
    .paragraph blockquote {
        margin-left: -10%;
        pointer-events: none;        
    }
}
