<ion-header>
  <ion-navbar>
    <ion-title>English 4 Fun</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button class="skip" ion-button small round clear hidden
    (click)="onSkipClick()">SKIP</button>
  <ion-slides pager>
    <ion-slide *ngFor="let slide of slidesTemplate">
      <h2>{{ slide.header }}</h2>
      <p>{{ slide.body }}</p>
      <button *ngIf="slide?.login" class="get-started" ion-button outline small round icon-left
        (click)="onGetStartedClick()">
        <ion-icon name="logo-facebook"></ion-icon>
        GET STARTED
      </button> 
    </ion-slide>
  </ion-slides>
</ion-content>