<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Collections</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onAddCollectionClick()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item *ngIf="user?.type == 'admin' ||
                     user?.type == 'teacher'">
      <ion-label>Student</ion-label>
      <ion-select [(ngModel)]="studentKey" (ionChange)="onSelectStudentClick(studentKey)">
        <ion-option *ngFor="let student of studentNames" [value]="student" selected>{{ student.$value }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row *ngIf="studentKey?.$value == 'All'">
        <ion-col *ngFor="let collection of collections | async | reverse" col-6 col-sm-12 col-md-6 col-lg-4 col-xl-3 
          (click)="onCollectionClick(collection)">
          <img [src]="collection?.imageURL">
          <h4>{{ collection.$key | capitalize }}</h4> 
        </ion-col>
      </ion-row>
        <ion-row *ngIf="studentKey.$value != 'All'">
          <ion-col *ngFor="let collection of studentCollections | reverse" col-sm-12 col-md-6 col-lg-4 col-xl-3
            (click)="onCollectionClick(collection)">
            <img [src]="(collection | async)?.imageURL">
            <h4>{{ (collection | async)?.$key.capitalize() }}</h4>  
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>