ion-list .item-inner {
    border-bottom: none !important;
}
ion-badge {
    font-size: 10px;
    margin: 0 !important;
}
ion-item-options {
    border-bottom: none !important;
}
.center {
    text-align: center;
}