<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <ion-item *ngIf="user">
        <ion-avatar item-start>
          <img [src]="user.photoURL">
        </ion-avatar>
        <h2>{{user.displayName}}</h2>
        <p>{{user.email}}</p>
        <ion-badge *ngIf="user" item-end>{{badge}}</ion-badge>
      </ion-item>
      <button ion-item menuClose *ngFor="let page of pages"
        (click)="openPage(page.component)">
        {{ page.title }}
      </button>
      <button ion-item menuClose (click)="signOut()">Sign Out</button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content>
</ion-nav>