ion-popover .popover-wrapper {
    width: 100% !important;
}
ion-popover .popover-wrapper .popover-content {
    width: 100% !important;
    overflow: unset;
}
.popover-md .popover-wrapper .popover-content {
    top: 60px !important;
    left: 0 !important;
}
.popover-ios .popover-wrapper .popover-content {
    top: 67px !important;
    left: 0 !important;
}
ion-list .item-inner {
    border-bottom: none !important;
}
ion-item .item-inner {
    border-bottom: none !important;
}
ion-badge {
    font-size: 10px;
    margin: 0 !important;
}
ion-item-options {
    border-bottom: none !important;
}
.center {
    text-align: center;
}
.searchbar-ios {
    background: white;
}
.searchbar-ios .searchbar-input {
    font-size: 1.7rem !important;
}
.select-close-icon {
    z-index: 100;
    min-height: 0 !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 10px !important;
    cursor: pointer;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none;
}
.list-ios > .item-block:first-child {
    border-top: none;
}
.center {
    text-align: center;
}