<ion-header>
  <ion-navbar>
    <ion-title>Add Videos</ion-title>
    <ion-buttons end>
        <button ion-button icon-only
          [disabled]="!selectedCollection"
          (click)="onCheckmarkClick()">
          <ion-icon name="md-checkmark"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Collections</ion-label>
    <ion-select [(ngModel)]="selectedCollection"
      (ionChange)="onSelectColectionChange()">
      <ng-container *ngFor="let collectionKey of collectionKeys | async">
        <ion-option [value]="collectionKey.$key">{{ collectionKey.$key | capitalize }}
        </ion-option>
      </ng-container>
    </ion-select>
    <ion-icon *ngIf="selectedCollection" item-end name="md-close" class="select-close-icon"
      (click)="onRemoveSelectClick()">
    </ion-icon>
  </ion-item>
  <ion-card *ngIf="platform.is('ios'); else other">
    <ion-searchbar [(ngModel)]="search"
      (keyup)="onSearchKeyup()"
      (ionClear)="onSearchClear()">
    </ion-searchbar>
  </ion-card>
  <ng-template #other>
    <ion-searchbar [(ngModel)]="search"
      (keyup)="onSearchKeyup()"
      (ionClear)="onSearchClear()">
    </ion-searchbar>
  </ng-template>
  <ion-grid>
    <ng-container *ngIf="searchVideos">
      <ion-item-divider color="light">Search Results</ion-item-divider>
      <ion-card *ngFor="let video of searchVideos">
        <div *ngIf="selectedCollection">
          <ion-checkbox #checkbox class="video-checkbox"
            [checked]="video?.checked"
            (click)="onVideoCheckboxClick(video, checkbox.checked)">
          </ion-checkbox>
          <ion-icon *ngIf="video?.checked" class="edit-icon" color="primary" name="md-create"
            (click)="onEditVideoClick(video)"></ion-icon>        
        </div>
        <ion-row>
          <ion-col col-12>
            <ion-item class="video-item">
              <img [src]="video.thumbnails.high.url"
                [style.z-index]="1000"
                (click)="onPlayVideoClick(video.id)">
              <ion-icon name="play" class="play-button"
                (click)="onPlayVideoClick(video.id)"></ion-icon>
              <h5>{{ video.title }}</h5>
              <p>{{ video.publishedAt | parseDate | date: 'medium'}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-container>
    <ng-container *ngIf="playlistName &&
                         !searchVideos">
      <ion-item-divider color="light">{{ playlistName | capitalize }}</ion-item-divider>
      <ion-card *ngFor="let video of playlistVideos">
        <div *ngIf="selectedCollection">
          <ion-checkbox #checkbox class="video-checkbox"
            [checked]="video?.checked"
            (click)="onVideoCheckboxClick(video, checkbox.checked)">
          </ion-checkbox>
          <ion-icon *ngIf="video?.checked" class="edit-icon" color="primary" name="md-create"
            (click)="onEditVideoClick(video)"></ion-icon>
        </div>
        <ion-row>
          <ion-col col-12>
            <ion-item class="video-item">
              <img [src]="video.thumbnails.high.url" (click)="onPlayVideoClick(video.id)">
              <ion-icon name="play" class="play-button"
                (click)="onPlayVideoClick(video.id)"></ion-icon>
              <h5>{{ video.title }}</h5>
              <p>{{ video.publishedAt | parseDate | date: 'medium'}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-container>
  </ion-grid>
</ion-content>