page-teachers {
  .edit-students-select {
    height: 0;
    padding: 0;
    width: 0;
  }
  .item-ios.item-block .item-inner {
    border-bottom: none;
  }
  .item-md.item-block .item-inner {
    border-bottom: none;    
  }
  .add-icon {
    line-height: 2;
    font-size: 1.5em;
  }
  .text-input-md {
    padding-top: 1px;
  }
  .text-input-ios {
    padding-top: 3px;
  }
  ::-webkit-input-placeholder {
    font-size: 16px;
  }
  ::-moz-placeholder {
    font-size: 16px;    
  }
  :-ms-input-placeholder {
    font-size: 16px;    
  }
  :-moz-placeholder {
    font-size: 16px;    
  }
}
