<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-select [(ngModel)]="collectionType" (ionChange)="onSelectCollectionType()" interface="popover">
      <ion-option *ngFor="let collectionType of collectionTypes | async; let i = index" [value]="collectionType.key"
        [selected]="collectionType.key === 'video'">
        {{ collectionType.key | capitalize }}
      </ion-option>
    </ion-select>
    <ion-buttons *ngIf="user?.type == 'admin'" end>
      <button ion-button icon-only (click)="onAddClick()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngIf="platform.is('ios'); else other">
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  </ion-card>
  <ng-template #other>
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>    
  </ng-template> 
  
  <!-- VOCABULARY -->
  <ng-container *ngIf="collectionType == 'vocabulary'">
    <ion-list>
      <ion-card>  
        <ion-item>
          <ion-label>Collection</ion-label>
          <ion-select [(ngModel)]="collection">
              <ion-option *ngFor="let collectionKey of wordCollections | async" 
                [value]="collectionKey.key">{{ collectionKey.key | capitalize }}</ion-option>
          </ion-select>
          <ion-icon *ngIf="collection != ''"item-end name="md-close" class="select-close-icon"
            (click)="onRemoveSelectClick()">
          </ion-icon>
        </ion-item>
      </ion-card>
      <ion-item-group *ngFor="let wordCollection of wordCollections | async">
        <ng-container *ngIf="collection == wordCollection.key ||
                             collection == ''">
        <ion-item-divider color="light">{{ wordCollection.key | capitalize }}</ion-item-divider> 
        <ion-item-sliding *ngFor="let word of wordCollection | wordsByCollection: search">
          <ion-item>
            <ion-thumbnail item-start>
              <img [src]="word.imageURL">
            </ion-thumbnail>
            <h2>{{ word.$key | capitalize }}</h2>
            <p>
              <i *ngFor="let translation of word.translations; let i = index">
                {{ translation }}<i *ngIf="word.translations.length - 1 != i">,</i>
              </i>
            </p>   
          </ion-item>
          <ion-item-options *ngIf="user?.type == 'admin'" side="right">
            <button ion-button color="light"
              (click)="onRemoveButtonClick(wordCollection, word)">
            <ion-icon name="md-trash"></ion-icon>
            Remove
          </button>
          </ion-item-options>
        </ion-item-sliding>
        </ng-container>
      </ion-item-group>
    </ion-list>
  </ng-container>    
  
  <!-- READING -->
  <ng-container *ngIf="collectionType == 'reading'">
    <ion-list>
      <ion-card>  
        <ion-item>
          <ion-label>Collection</ion-label>
          <ion-select [(ngModel)]="collection">
              <ion-option *ngFor="let readingCollection of readingCollections | async" 
                [value]="readingCollection.key">{{ readingCollection.key | capitalize }}</ion-option>
          </ion-select>
          <ion-icon *ngIf="collection != ''"item-end name="md-close" class="select-close-icon"
            (click)="onRemoveSelectClick()"></ion-icon>
        </ion-item>
      </ion-card>
    </ion-list>
    <ion-grid>
      <ion-item-group *ngFor="let readingCollection of readingCollections | async">
        <ng-container *ngIf="collection == readingCollection.key ||
                           collection == ''">
        <ion-item-divider color="light">{{ readingCollection.key | capitalize }}</ion-item-divider>
          <ion-card *ngFor="let reading of readingCollection | readingsByCollection: search">
            <ion-row>
              <ion-col col-12>
                <ion-item class="reading-item" 
                  (click)="onReadingClick(reading, readingCollection.key)">
                  <img [src]="reading.imageURL">
                  <h5>{{ reading.shortText }}</h5>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card>
        </ng-container>
      </ion-item-group>
    </ion-grid>
  </ng-container>

  <!-- VIDEO -->
  <ng-container *ngIf="collectionType == 'video'">
    <ion-list>
      <ion-card>  
        <ion-item>
          <ion-label>Collection</ion-label>
          <ion-select [(ngModel)]="collection">
              <ion-option *ngFor="let videoCollection of videoCollections | async" 
                [value]="videoCollection.key">{{ videoCollection.key | capitalize }}</ion-option>
          </ion-select>
          <ion-icon *ngIf="collection != ''" item-end name="md-close" class="select-close-icon"
            (click)="onRemoveSelectClick()"></ion-icon>
        </ion-item>
      </ion-card>
    </ion-list>
    <ion-grid>
      <ion-item-group *ngFor="let videoCollection of videoCollections | async">
        <ng-container *ngIf="collection == videoCollection.key ||
                            collection == ''">
        <ion-item-divider color="light">{{ videoCollection.key | capitalize }}</ion-item-divider>
          <ion-card *ngFor="let video of videoCollection | videosByCollection: search">
            <ion-row>
              <ion-col col-12>
                <ion-item class="video-item">
                  <img [src]="video.thumbnails.high.url"
                    (click)="onPlayVideoClick(video.id)">
                  <ion-icon name="play" class="play-button"
                    (click)="onPlayVideoClick(video.id)"></ion-icon>
                  <h5 (click)="onVideoClick(video, videoCollection.key)">{{ video.title }}</h5>
                  <p>{{ video.publishedAt | parseDate | date: 'medium'}}</p>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card>
        </ng-container>
      </ion-item-group>
    </ion-grid>
  </ng-container>

  <!-- GRAMMAR -->
  <ng-container *ngIf="collectionType == 'grammar'">
    <ion-list>
      <ion-card>  
        <ion-item>
          <ion-label>Collection</ion-label>
          <ion-select [(ngModel)]="collection">
              <ion-option *ngFor="let grammarCollection of grammarCollections | async" 
                [value]="grammarCollection.key">{{ grammarCollection.key | capitalize | spaceCapitalLetters }}</ion-option>
          </ion-select>
          <ion-icon *ngIf="collection != ''" item-end name="md-close" class="select-close-icon"
            (click)="onRemoveSelectClick()">
          </ion-icon>
        </ion-item>
      </ion-card>
      <ion-item-group *ngFor="let grammarCollection of grammarCollections | async">
        <ng-container *ngIf="collection == grammarCollection.key ||
                             collection == ''">
          <ion-item-divider color="light">{{ grammarCollection.key | capitalize | spaceCapitalLetters }}</ion-item-divider> 
          <ion-item-sliding *ngFor="let grammar of grammarCollection | grammarsByCollection: search">
            <ion-item>
              <h2 *ngIf="grammar.sentence">{{ grammar.sentence | capitalize }}</h2>
              <p *ngIf="grammar.translation">{{ grammar.translation | capitalize }}</p>
            </ion-item>
            <ion-item-options *ngIf="user?.type == 'admin'" side="right">
              <button ion-button color="light"
                (click)="onEditGrammarClick(grammarCollection, grammar)">
                <ion-icon name="md-create"></ion-icon>
                Edit
              </button>
              <button ion-button color="light"
                (click)="onRemoveGrammarClick(grammarCollection, grammar)">
                <ion-icon name="md-trash"></ion-icon>
                Remove
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ng-container>
      </ion-item-group>
    </ion-list>
  </ng-container>    
</ion-content>