page-content {
    .toolbar-content .select-ios {
        font-size: 1.7rem;
        font-weight: bolder;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0 auto;
        max-width: 55%;
    }
    .toolbar-content .select-md {
        font-size: 2rem;
        font-weight: 500;
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 150px;    
    }
    .searchbar-ios {
        background: white;
    }
    .searchbar-ios .searchbar-input {
        font-size: 1.7rem !important;
    }
    .select-close-icon {
        z-index: 100;
        min-height: 0 !important;
        font-size: 15px !important;
        margin: 0 !important;
        padding: 10px !important;
        cursor: pointer;
    }
    ion-grid {
        padding: 0px !important;
    }
    ion-col {
        padding: 0px !important;
        padding-bottom: 15px !important;     
    }
    .reading-item {
        padding-top: 5px;
        padding-left: 8px;
    }
    .reading-item ion-label {
        margin: 0;
        padding-left: 0;
        white-space: normal;
    }
    .reading-item .item-inner {
        border-bottom: none !important;
    }
}