page-content {
    .toolbar-content .select-ios {
        font-size: 1.7rem;
        font-weight: bolder;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        max-width: 100%;
    }
    .toolbar-content .select-md {
        font-size: 2rem;
        font-weight: 500;
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 100%;        
    }
    .toolbar-content .select-icon {
        visibility: hidden;
    }
    ion-grid {
        padding: 0px !important;
    }
    ion-col {
        padding: 0px !important;
        padding-bottom: 15px !important;     
    }
    .reading-item {
        padding-top: 5px;
        padding-left: 8px;
    }
    .reading-item ion-label {
        margin: 0;
        padding-left: 0;
        white-space: normal;
    }
    .reading-item .item-inner {
        border-bottom: none !important;
    }
    .video-item {
        padding-top: 5px;
        padding-left: 8px;
    }
    .video-item ion-label {
        margin: 0;
        padding-left: 0;
        white-space: normal;
    }
    .video-item p {
        font-size: 1.2rem !important;
    }
    .play-button {
        position: absolute;
        top: 35%;
        left: 50%;
        color: white;
        font-size: 3em;
    }
}