<ion-header>
  <ion-navbar>
    <ion-title>{{ type | capitalize }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="type == 'constructor'" class="center">
    <ion-item text-wrap class="translation">
      <h1>{{ grammars[grammarIndex]?.translation }}</h1>
    </ion-item>
    <ion-item text-wrap class="sentence">
      <h3><span *ngFor="let word of result; let i = index" class="result-word"
                [ngClass]="isCheckSentence && isWordIncorrect(i) ? 'incorrect-word' : ''">{{ word | uppercase }} </span></h3>
      <button *ngIf="!isCheckSentence" ion-button clear icon-left class="backspace-button"
        [disabled]="index == 0"
        (click)="onBackspaceClick()">
        <ion-icon name="backspace"></ion-icon>
      </button>
    </ion-item>
    <ion-grid *ngIf="this.words?.length != this.index">
      <ion-row>
        <ion-col *ngFor="let option of options; let i = index" col-6 class="column">
            <button ion-button full clear color="dark"
              (click)="onOptionClick(option, i)">{{ option | uppercase }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button *ngIf="!isLastGrammar &&
                   !isCheckSentence" ion-button round outline
      [disabled]="this.words?.length != this.index"
      (click)="onNextClick()">Next</button>
    <button *ngIf="isCheckSentence" ion-button round outline
      (click)="onRepeatClick()">Try again</button>
    <button *ngIf="isLastGrammar" ion-button round outline
      (click)="onReturnClick()">Return</button>
  </ion-list>
</ion-content>
