page-words {}
.searchbar-ios {
    background: white;
}
.searchbar-ios .searchbar-input {
    font-size: 1.7rem !important;
}
.select-close-icon {
    z-index: 100;
    min-height: 0 !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 10px !important;
    cursor: pointer;
}