<ion-header>
  <ion-navbar>
    <ion-title>{{ video?.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img [src]="video.thumbnails.high.url"
    (click)="onPlayVideoClick(video.id)">
  <ion-icon name="play" class="play-button"></ion-icon>
  <p *ngFor="let item of items" class="paragraph">
    <span #spanWord *ngFor="let word of item | splitByWord" 
      [innerHTML]="word | addSpaceCharacter"
      (tap)="onTapWord(spanWord)"></span> 
  </p>
  <div style="text-align: center">
    <button ion-button round outline 
      (click)="onTrainingClick()">
        Go to answers
    </button>
  </div>
</ion-content>
